.map-fields {
    display: flex;
    flex-direction: column;
    
    .field-mappings {
        display: flex;
        flex-direction: column;
        width: 100%;

        .field-mapping {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .field-mapping__input {
                width: 500px;
            }
        }
    }

    
}