.map-fields {
    display: flex;
    flex-direction: column;
    
    .field-mappings {
        display: flex;
        flex-direction: column;
        width: 100%;

        .field-mapping {
            display: flex;
            flex-direction: row;
            height: 40px;
        }
    }

    
}